@import "_imports";

$bar-height: 108px;

$window-height: 1080px;
$window-width: 1920px;

@mixin row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

* { 
  box-sizing: border-box;
}

body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  font-family: "Vollkorn", serif;
  display: block;
  width: 1920px;
  height: 1080px;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
  z-index: 10;
}

@keyframes color_change {
  from {
    color: darken($contrast-color, 0
    3);
  }
  to {
    color: $contrast-color;
  }
}

#omnibar {
  width: 100%;
  height: $bar-height;
  position: absolute;
  bottom: 108px;
  left: 0;
  padding: 1ex 1em;
  color: $contrast-color;
  animation: color_change 3600s infinite alternate-reverse;
  background: $highlights-color;
  border-top: 0.5ex currentColor solid;
  border-bottom: 0.5ex currentColor solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20pt;
  z-index: 1;

  .logotype {
    @include row;
    justify-content: space-between;
  }
  #logo {
    $logo-size: $bar-height*0.7;
    width: $logo-size;
    height: $logo-size;
    overflow: hidden;
    flex-shrink: 0;
    > svg {
      width: 100%;
      height: 100%;
    }
  }

  .vstack {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 10px;
    flex-shrink: 0;
  }

  #conductor {
    &:before {
      content: "Musical Director: ";
      font-variant: small-caps;
    }
  }

  #nowplaying {
    overflow: hidden;
    text-align: center;
    display: inline-flex;
    flex-direction: column;

    #title {
      font-size: 18pt;
    }
    #composer {
      font-size: 16pt;
    }
  }
}

div.central-item {
  overflow: hidden;
  text-align: center;
  align-items: center;

  div {
    white-space: nowrap;
    margin: 0 auto;
    width: 100%;

    text-align: center;
    align-items: center;
  }
  .hidden {
    display: none !important;
  }
}

#charity {
  position: absolute;
  background-color: $highlights-color;
  width: 500px;
  max-height: ($window-height - 2 * $bar-height - 200px);
  top: 100px;
  left: 100px;
  border: 0.5ex $contrast-color solid;
  text-align: center;
  color: black;
  padding: 2em;
  p {
    font-size: 30px;
    vertical-align: center;
  }
  h1 {
    font-size: 45px;
  }
}
